#map_canvas{:style => "width: 320px; height: 240px;", |
  'data-lat' => params[:lat].gsub(',','.'),           |
  'data-lng' => params[:lng].gsub(',','.'),           |
  'data-description' => params[:description],         |
  'data-marker-type' => params[:marker_type],         |
  'data-zoom' => params[:zoom_level]                  |
  }                                                   |
